body{
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
}
.card {
  border: 2px solid black;
  width: 150px;
  height: 150px;
  background-color: rgb(177, 206, 231);
  margin: 10px;
}

.card-number{
  font-size: 50px;
  text-align: center;
  justify-content: center;
}

.cards-container{
  display: flex;
  flex-direction: row;
}